/* GENERAL STYLES */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.well {
  border-color: rgba(0, 189, 157, 1);
  background-color: #fff;
}

.form-control {
  border-color: rgba(0, 189, 157, 1);
}

.form-control:focus { 
  border-color: #ff9800;  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 152, 0, 0.6); 
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 152, 0, 0.6);
}

.social-links-container {
  margin-top: 20px;
}

.social-links-container a{
  margin-left: 5px;
}

.social-links-container a:nth-child(1) {
  margin-left: 0;
}

.fa-facebook {
    background-color:#3b5998
} 
.fa-linkedin {
    background:#007bb6
}
.fa-twitter {
    background:#00aced
}
.fa-github {
    background:#000
}

.fa-free-code-camp {
  background:darkgreen
}

ul.social-links li a i:hover {
    opacity: .7;
}

.circle-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding-top: 10px;
    margin-bottom: 5px;
}

.icon-background1 {
    color: #ffc0ff;
}


html, body {
	height: 100%;
}

body {
	position: relative;
  font-family: "Basic", sans-serif;
  font-size: 12pt;
}

p {
  font-size: 1.2em;
}

h1 {
  font-size: 3em;
}

h2 span {
    background-image: linear-gradient(to right, #FF9800 0%, #FF9800 100%);
    background-repeat: repeat-x;
    background-position: 0 95%; 
    background-size: 100% 2px;
}

.brand {
  font-family: "Patua One", serif;
  font-weight: normal;
  color: #FF9800;
}

.highlight, h2 {
  color: rgba(0, 189, 157, 1);
}

.brand-phrase {
  font-size: 1.7em;
  text-align: center;
  margin-top: 70px;
  margin-bottom: 70px;
}

a.underlined {
  color: #000;
  border-bottom: 1px #FF9800 dotted;
}

a.underlined:hover {
  color: #FF9800;
  text-decoration: none;
  border-bottom: 1px #FF9800 dotted;
}

.horizontal-list {
  text-align: center;
}

.horizontal-list li {
  display: inline-block;
  font-size: 1.5em;
}

.horizontal-list li:before {
  content: '• ';
  color: #FF9800;
  font-size: 25px;
}

.horizontal-list li:first-child:before {
  content: '';
}

.btn-primary,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #FF9800;
  border-color: #d88100;
}

.btn-primary:hover {
  background-color: #cc7900;
  border-color: #b26900;
}

.btn-primary:active:focus {
  background-color: #b56b00;
}

/* HOME SECTION */

#home-section {
  background-image: linear-gradient(
      rgba(0, 189, 157, 0.4), 
      rgba(0, 189, 157, 0.7)
    ), url(https://res.cloudinary.com/dz93taf0c/image/upload/c_scale,q_80,w_1800/v1478116930/StockSnap_6UHHE19YG7_2_tzwczi.jpg);
	height: 100%;
  min-height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50px;
}

#avatar {
  margin-left: auto;
  max-width: 120px;
  margin-top: 15px;
  box-shadow: 0 0 10px #000;
}

@media only screen 
  and (orientation: portrait) {
    
}

#home_title {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 5px black;
}

#home_paragraph {
  color: #fff;
  font-size: 1.3em;
  text-shadow: 1px 1px 5px black;
}

.glyphicon-chevron-down {
  margin: 0 auto;
  color: #fff;
  text-shadow: 2px 2px 15px black;
}

.glyphicon-chevron-down:hover {
  text-shadow: 2px 2px 15px white;
}

@media only screen 
  and (min-width: 400px) {
    #home_title {
      font-size: 2.4em;
    }
    
    #home_paragraph {
      font-size: 1.5em;
    }
    
    #avatar {
      max-width: 150px;
    }
    
    .glyphicon {
      font-size: 1.2em;
    }
}

@media only screen 
  and (min-width: 768px) {
    #home_title {
      font-size: 2.6em;
    }
    
    #home_paragraph {
      font-size: 1.7em;
    }
    
    #avatar {
      max-width: 180px;
    }
    
    .glyphicon {
      font-size: 1.4em;
    }
}

@media only screen 
  and (min-width: 992px) {
    #home_title {
      font-size: 2.8em;
    }
    
    #home_paragraph {
      font-size: 1.9em;
    }
    
    #avatar {
      max-width: 220px;
    }
    
    .glyphicon {
      font-size: 1.6em;
    }
}

@media only screen 
  and (orientation: landscape) {
    #home_title, #home_paragraph {
      padding-right: 20%;
    }
}

@media only screen 
  and (orientation: landscape) 
  and (min-width: 768px) {
}

@media only screen 
  and (orientation: landscape) 
  and (min-width: 992px) {
}
  
@media only screen 
  and (orientation:portrait) {
    #avatar {
      margin: 0 auto;
    }
    
    #home_title {
      text-align: center;
    }
    
    #home_paragraph {
      text-align: center;
    }
    
    .col-xs-5, .col-xs-7 {
      width: 100%;
    }
}



/* ABOUT SECTION */

#about-section {
	height: auto;
  min-height: 550px;
}

#section_title {
  display: inline-block;
  padding: 0 15px;
  position: relative;
  color: #FF9800;
}

#section_title:before,
#section_title:after {
  background: rgba(0, 189, 157, 1);
  content: "";
  display: block;
  height: 3px;
  position: absolute;
    top: 50%;
  width: 100%;
}

#section_title:before {
  right: 100%;
}

#section_title:after {
  left: 100%;
}

.title-container {
  overflow: hidden;
  text-align: center;
}

@media only screen
  and (max-width: 768px) {
    .horizontal-list {
      margin-right: 30px;
    }
}

@media only screen 
  and (min-width: 768px) {
    #about-section, #contact-section {
      margin-left: 100px;
      margin-right: 100px;
    }
}

/* PORTFOLIO SECTION */

#portfolio-section {
	height: auto;
  min-height: 550px;
}

@media only screen 
  and (min-width: 768px) {
    .thumbnails {
      margin-left: 100px;
      margin-right: 100px;
    }
}

.thumbnails {
  margin-top: 20px;
  margin-bottom: 30px;
}

.thumbnail {
	position: relative;
	overflow: hidden;
  height: 259px;
  border-color: rgba(0, 189, 157, 1);
}

.thumbnail .caption {
  position: absolute;
  padding-top: 5px;
	top: 210px;
  height: 260px;
  background-color: rgba(255,255,255,0.9);
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-ms-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
	width: 100%;
}

.thumbnail:hover .caption{
		transform: translateY(-210px);
		-webkit-transform:translateY(-210px);
		-moz-transform:translateY(-210px);
		-ms-transform:translateY(-210px);
		-o-transform:translateY(-210px);
	}

.thumbnail img {
  z-index: 4;
}

.thumbnail h2 {
  margin-top: 0;
  line-height: 1.2em;
}


/* CONTACT SECTION */

#contact-section {
	height: auto;
  min-height: 550px;
  padding-bottom: 20px;
}



/* FOOTER */

#footer-section {
  height: 60px;
  color: white;
  background-color: rgba(0, 189, 157, 1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
}

#footer-section p {
  margin: 0;
  padding: 0;
}

#footer-section .brand {
  color: white;
}



/* HELPERS */


.vertical-center {
  min-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen 
  and (orientation: portrait) {
    .vertical-center {
      flex-direction: column;
      justify-content: center;
    }
}

#home-section .vertical-center {
  min-height: 90%;
}

.typed-cursor{
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}


/* CUSTOM BOOTSTRAP NAVBAR STYLE */

.navbar {
    -webkit-box-shadow: 0 1px 6px 0px #555;
    -moz-box-shadow: 0 1px 6px 0px #555;
    box-shadow: 0 1px 6px 0px #555;
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    font-size: 32px;
}

#custom-bootstrap-menu.navbar-default {
    font-size: 18px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-width: 0px;
}

@media only screen and (min-width : 992px) {
    #custom-bootstrap-menu.navbar-default .navbar-nav {
      padding-right: 100px;
    }
  
    #custom-bootstrap-menu.navbar-default .navbar-brand {
      padding-left: 50px;
    }
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(51, 51, 51, 1);
    background-color: rgba(255, 255, 255, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover {
    color: #FF9800;
/*     background-color: rgba(0, 189, 157, 1); */
}

#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(248, 248, 248, 1);
    background-color: rgba(0, 189, 157, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #00bd9d;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #00bd9d;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #00bd9d;
}

#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}
